# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/cathy-loerzel-backend/node_modules
/cathy-loerzel-frontend/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
/cathy-loerzel-backend/.env
/cathy-loerzel-frontend/.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/cathy-loerzel-frontent/.vercel